@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    @apply antialiased leading-normal font-normal;
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
}

body,
html {
    @apply h-screen w-screen p-0 m-0;
}

body {
    @apply flex place-items-center min-h-screen text-slate-100;
}

a {
    @apply font-normal text-sky-600 decoration-inherit;
    &:hover {
        @apply text-sky-400;
    }
}

h1 {
    @apply text-5xl;
}

button {
    @apply rounded-lg font-medium px-2.5 p-5 bg-blue-800 dark:bg-lime-500 dark:text-slate-900 text-slate-300;
    font-family: inherit;
    cursor: pointer;
    transition: border-color 0.25s;
    border: 1px solid transparent;
    &:hover {
        @apply border-sky-600;
    }
    &:focus, &:focus-visible{
        outline: 4px auto -webkit-focus-ring-color;
    }
}
